body {
    margin: 0;
    font-family: 'Play', sans-serif;
    background: #060B1D;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.mainPage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; 
    overflow-x: hidden;

}

.mainPageContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 1280px;
    position: relative;
    background-image: url(./access/image/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

nav {
    position: fixed;
    z-index: 10;
    top: 0;
    display: block;
    transition: 0.5s ease-in;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 250px;
    background-color: #060b1dc7;
    box-shadow: -5px 0px 10px #000412;
}

.logo {
    width: 100px;
    height: 50px;
    margin-top: 70px;
}

.linkMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    width: 100%;
}

.linkMenuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.linkMenuItem a {
    color: #C5D8FF;
    letter-spacing: 0.3rem;
    text-decoration: none;
}

.buttonLanguage {
    border: 1px solid #C5D8FF;
    color: #C5D8FF;
    background-color: transparent;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

.buttonLanguage:hover {
    color: #060B1D;
    background-color: #C5D8FF;
    transition: ease-in .2s;
}

.underLine {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #C5D8FF;
    transition: width 0.5s ease-in;
}

.soundSocialLinkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 70px;
}

.sound {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.play {
    width: 30px;
}

.pause {
    width: 30px;
    display: none;
}


.socialLinkMenu {
    display: flex;
    gap: 15px;
    
}

.iconsMenu {
    width: 30px;
}


.soundBtn {
    width: 65px;
    height: 40px;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    width: 100%;
    font-size: 70px;
    color: #C5D8FF;
    letter-spacing: 0.08em;
    font-weight: 800;
    line-height: 30px;
    z-index: 0;
    gap: 70px;
}

.joinMeBtnContainer {
    margin-top: 50px;
}


.joinMeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 70px;
    border: 3px solid #C5D8FF;
    border-radius: 10px;
    background-color: #00000000;
    position: relative;
    overflow: hidden;
}

.joinMeBtn a {
    text-decoration: none;
    color: #C5D8FF;
    font-size: 30px;
    letter-spacing: 0.2em;
}

.joinMeBtn:hover a {
    color: #060B1D;
    z-index: 3;
    font-size: 30px;
}

.joinMeBtn::after {
    content:'';
    display:block;
    position:absolute;
    left:-100%; 
    background: #C5D8FF;
    z-index:2;
    cursor:pointer;
}

.joinMeBtn:hover::after {
    width:100%;
    height:100%;
    transform: translateX(244px);
    right: 100%;
    transition: ease-in .5s;
}


.contentPage {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.contentPageContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1280px;
    margin-top: 50px;
    overflow-x: hidden;
    gap: 100px;
}

.menuToggleContainer{
    position: fixed;
    display: none;
    bottom: 50px;
    right: 10px;
    z-index: 10;
}

.menuToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 3px solid #C5D8FF;
    border-radius: 50%;
    background-color: #151d32e8;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), inset -10px -10px 34px rgba(170, 170, 170, 0.09), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.menuToggleBtn {
    border: none;
    background-color: transparent;
    font-size: 15px;
    letter-spacing: 0.2em;
    color: #C5D8FF;
}

h2 {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color:#C5D8FF;
}

p {
    margin: 0;
}

.aboutContainer {
    width: 1030px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.ABOUT, .SKILLS {
    position: relative;
    margin-top: 50px;
}

.ABOUT img, .SKILLS img, .WORKS img, .JOINME img {
    width: 1030px;
}

.about, .skills {
    position: absolute;
    bottom: 0;
}

.story {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.aboutDescription {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
    color:#C5D8FF;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: 0.05em;
}

.facts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-image: url(./access/image/glow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    gap: 20px;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .75rem;
    height: 85px;
    background: radial-gradient(99% 151.65% at 1% 1.33%, rgba(28, 40, 63, 0.74) 0%, rgba(28, 40, 63, 0.7) 14.29%, rgba(28, 40, 63, 0.5) 33.79%, rgba(28, 40, 63, 0.35) 50.6%, rgba(28, 40, 63, 0.3) 60.71%, rgba(28, 40, 63, 0.18) 81.49%, rgba(28, 40, 63, 0.15) 98.56%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), inset -10px -10px 34px rgba(170, 170, 170, 0.09), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px 30px 0px 30px;
    font-size: 20px;
    color: #C5D8FF;
}



.portfolioContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    overflow: hidden;
    width: 1030px;
    gap: 200px;
}


.WORKS, .JOINME {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 50px;
}

.myWorks, .joinMe {
    position: absolute;
    bottom: -4px;
}

.worksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 100%;
    margin: 0 auto;
}



.imageWorksContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.imageWorks {
    width: 270px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    font-size: 25px;
    color: #fff;
    transition: ease 1.5s;
    opacity: 0.6;
    background: radial-gradient(99% 151.65% at 1% 1.33%, rgba(28, 40, 63, 0.74) 0%, rgba(28, 40, 63, 0.7) 14.29%, rgba(28, 40, 63, 0.5) 33.79%, rgba(28, 40, 63, 0.35) 50.6%, rgba(28, 40, 63, 0.3) 60.71%, rgba(28, 40, 63, 0.18) 81.49%, rgba(28, 40, 63, 0.15) 98.56%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), inset -10px -10px 34px rgba(170, 170, 170, 0.09), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    filter: blur(2px);
}

.imageWorks.active {
    position: relative;
    transform: scale(1.7);
    background-color: #151d32e8;
    transition: transform 1.5s ease;
    opacity: 1;
    filter: blur(0px);
    z-index: 1;
}

.imageWorks.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(99% 151.65% at 1% 1.33%, rgba(28, 40, 63, 0.74) 0%, rgba(28, 40, 63, 0.7) 14.29%, rgba(28, 40, 63, 0.5) 33.79%, rgba(28, 40, 63, 0.35) 50.6%, rgba(28, 40, 63, 0.3) 60.71%, rgba(28, 40, 63, 0.25) 81.49%, rgba(28, 40, 63, 0.2) 98.56%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), inset -10px -10px 34px rgba(170, 170, 170, 0.09), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.imageWorksItem {
    width: 270px;
    height: 200px;
}

.tooltip{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 0;
    background-color: #151d32e8;
    transition: transform 1s ease;
    border-radius: 30px;
    width: 100%;
    border: 1px solid #151d32e8;
    z-index: 3;
}

.tooltipItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    gap: 20px;
    padding: 1.5rem;
}

.title {
    font-size: 20px;
    color: #C5D8FF;
}

.hidden {
    height: 0;
    opacity: 0;
    transition: height 1s ease-in-out, opacity 0.5s ease-in-out;
}

.seeMoreContainer {
    display: flex;    
    align-items: center;
    width: 100%;
}

.contents {
    display: flex;
    align-items: center;
    text-align: start;
    flex: 1;
    color: #C5D8FF;
    font-size: 12px;
}


.seeMoreBtn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 70px;
    height: 30px;
    border: 2px solid #C5D8FF;
    border-radius: 10px;
    background-image: url(./access/image/glowButtons.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seeMore {
    display: flex;
    justify-content: center;
    background: transparent;
    font-family: 'Play';
    font-style: normal;
    border: none;
}

.seeMore a {
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #C5D8FF;
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(./access/image/glowButtons.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
}


.btnPrev, .btnNext {
    width: 120px;
    height: 70px;
    background: transparent;
    border: none;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 1030px;
}

.skillsDescription {
    display: flex;
    flex: 1;
    color:#C5D8FF;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: 0.05em;
}

.skillsImageContainer {
    display: flex;
    position: relative;
    height: 550px;
    width: 100%;
}

.skillsImage {
    position: absolute;
    transform: scale(1);
    transition: ease .5s;
    z-index: 6;
}


.skillsImage:hover {
    transform: scale(1.1);
    transition: ease .5s;
    z-index: 13;
}


.HTML {
    top: 5%;
    left: 3%;
}

.FIGMA {
    right: 63%;
    top: -5%;
}

.CSS {
    left: 10%;
    bottom: 15%;
}

.BOOTSTRAP {
    left: 42%;
    bottom: 0;
}

.JAVASCRIPT {
    right: 21%;
    top: -20%;
}

.REDUX {
    left: 36%;
    top: 20%;
}

.NODE {
    right: 1%;
    bottom: 55%;
}

.htmlContainer {
    position: relative;
}

.REACT {
    right: 13%;
    bottom: 18%
}

.image {
    position: relative;
    z-index: 12;
}


.skillsShow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    gap: 10px;
    width: 180px;
    height: 50px;
    background: linear-gradient(0deg, rgba(6, 11, 29, 0.53), rgba(6, 11, 29, 0.53)), radial-gradient(99% 151.65% at 1% 1.33%, rgba(28, 40, 63, 0.74) 0%, rgba(28, 40, 63, 0.7) 14.29%, rgba(28, 40, 63, 0.5) 33.79%, rgba(28, 40, 63, 0.35) 50.6%, rgba(28, 40, 63, 0.3) 60.71%, rgba(28, 40, 63, 0.18) 81.49%, rgb(28, 40, 63) 98.56%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), inset -10px -10px 34px rgba(170, 170, 170, 0.09), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(197, 216, 255, 0.3);
    padding: 20px;
    opacity: 0;
    z-index: 0;
}


.skillsShowRight {
    top: -40%;
    left: 90%;
    border-radius: 10px 10px 10px 0px;
}

.skillsShowLeft {
    top:  -50%;
    right:  90%;
    border-radius: 10px 10px 0px 10px;
}

.skillsShowStraight {
    top: 10%;
    right: -120%;
    border-radius: 10px 10px 10px 10px;
}

.arrow {
    position: absolute;
}

.arrowRight {
    bottom: -35%;
    left: -35%;
    transform: rotate(-45deg);
}

.arrowLeft {
    bottom: -35%;
    right: -35%;
    transform: rotate(45deg);
}

.arrowStraight {
    top: 50%;
    left: -42%;
    transform: rotate(180deg);
}

.arrowLine {
    width: 90px;
    border: 0.9px solid rgba(197, 216, 255, 0.3);
}


.skillsShow p {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.12em;
    color: #C5D8FF;
}

.percentContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.percentContainer span {
    font-size: 15px;
    text-align: right;
    color: rgba(159, 159, 159, 0.5);
}

.line {
    width: 150px;
    height: 5px;
    background: rgba(217, 217, 217, 0.19);
    border-radius: 10px;
}

.colorLine {
    width: 0px;
    height: 5px;
    background: rgba(100, 72, 181, 0.69);
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: width 1s ease;
}


.joinMeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    width: 1030px;
    overflow: hidden;
    margin-bottom: 100px;
}


.applicationContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 550px;
    background: radial-gradient(99% 151.65% at 1% 1.33%, rgba(28, 40, 63, 0.74) 0%, rgba(28, 40, 63, 0.7) 14.29%, rgba(28, 40, 63, 0.5) 33.79%, rgba(28, 40, 63, 0.35) 50.6%, rgba(28, 40, 63, 0.3) 60.71%, rgba(28, 40, 63, 0.18) 81.49%, rgba(28, 40, 63, 0.15) 98.56%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), inset -10px -10px 34px rgba(170, 170, 170, 0.09), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 450px;
    height: 100%;
    padding: 50px;
}

label {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #C5D8FF;
}


input, textarea {
    width: 440px;
    height: 40px;
    background: transparent;
    border: 2px solid #C5D8FF;
    border-radius: 10px;
    color: #C5D8FF;
    font-size: 20px;
    padding-left: 10px;
}

input:focus, textarea:focus {
    outline: none; 
    box-shadow: none;
}


textarea {
    height: 130px;
    padding-top: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.sendBtn {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 250px;
    height: 70px;
    border: 2px solid #C5D8FF;
    border-radius: 10px;
    background-image: url(./access/image/glowButtons.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.send {
    background: transparent;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #C5D8FF;
    border: none;
}

.appeal {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.appeal p {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.3em;
    color: #C5D8FF;
    line-height: 45px;
}




.mainPageWorks {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainPageWorksContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 1280px;
    position: relative;
}


.worksPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 0px;
}

.worksPageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.worksImageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    width: 1030px;
    margin-bottom: 100px;
}

.worksImage {
    position: relative;
    width: 300px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
    transition: ease 1.5s;
    opacity: 1;
    border-radius: 30px;
    overflow: hidden;
}

.worksImage:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(99% 151.65% at 1% 1.33%, rgba(28, 40, 63, 0.74) 0%, rgba(28, 40, 63, 0.7) 14.29%, rgba(28, 40, 63, 0.5) 33.79%, rgba(28, 40, 63, 0.35) 50.6%, rgba(28, 40, 63, 0.3) 60.71%, rgba(28, 40, 63, 0.18) 81.49%, rgba(28, 40, 63, 0.15) 98.56%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), inset -10px -10px 34px rgba(170, 170, 170, 0.09), inset 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow: hidden;
    z-index: 4;
}


.worksImage:hover{
    transform: scale(1.1);
    background-color: #333;
    transition: ease 1.5s;
    z-index: 10;
}

.worksImageItem {
    width: 300px;
    height: 230px;
    overflow: hidden;
    background: radial-gradient(99% 151.65% at 1% 1.33%, rgba(28, 40, 63, 0.74) 0%, rgba(28, 40, 63, 0.7) 14.29%, rgba(28, 40, 63, 0.5) 33.79%, rgba(28, 40, 63, 0.35) 50.6%, rgba(28, 40, 63, 0.3) 60.71%, rgba(28, 40, 63, 0.18) 81.49%, rgba(28, 40, 63, 0.15) 98.56%);
} 

.imageSite {
    width: 100%;
    height: 100%;
}

.openSiteBtn {
    position: absolute;
    z-index: 5;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    width: 90px;
    height: 30px;
    border: 2px solid #C5D8FF;
    border-radius: 10px;
    background-color: #151d32de;
    background-image: url(./access/image/glowButtons.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.openSite {
    background: transparent;
    font-family: 'Play';
    font-style: normal;
    border: none;
}

.openSite a {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #C5D8FF;
    text-decoration: none;
}

@media all and (max-width: 1024px) {
    .mainPageContainer, .mainPageWorksContainer  {
        width: 900px;
    }

    .contentPageContainer {
        width: 900px;
        gap: 50px;
        margin-bottom: 50px;
    }

    .worksPage {
        gap: 50px;
    }

    .worksImageContainer {
        gap: 30px;
        width: 650px;
        margin-bottom: 50px;
    }

    .worksImage, .worksImageItem {
        width: 295px;
        height: 230px;
    }

    .openSiteBtn {
        bottom: 10px;
        right: 10px;
    }

    .aboutContainer, .portfolioContainer, .skillsContainer, .joinMeContainer {
        width: 650px;
        min-height: auto;
    }

    .aboutContainer, .joinMeContainer {
        gap: 50px;
    }

    .portfolioContainer {
        gap: 120px;
    }

    .ABOUT, .SKILLS {
        margin-top: 50px;
    }

    .ABOUT img, .SKILLS img, .WORKS img, .JOINME img {
        width: 650px;
    }

    .story {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .worksContainer {
        gap: 120px;
    }
    
    .aboutDescription {
        display: flex;
        gap: 50px;
    }

    .HTML {
        top: 12%;
    }
    
    .FIGMA {
        right: 50%;
        top: -5%;
    }
    
    .CSS {
        left: 5%;
        bottom: 10%;
    }
    
    .BOOTSTRAP {
        bottom: -8%;
    }
    
    .JAVASCRIPT {
        right: 10%;
        top: -10%;
    }
    
    .REDUX {
        left: 35%;
        top: 31%;
    }
    
    .NODE {
        right: 3%;
        bottom: 40%;
    }
    
    .REACT {
        right: 3%;
        bottom: 7%
    }

    .applicationContainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .appeal p {
        font-size: 20px;
    }

    .formContainer {
        width: 500px;
        height: 530px;
    }
    .form {
        width: 400px;
    }

    label {
        font-size: 18px;
    }

    input, textarea {
        width: 390px;
        font-size: 18px;
    }

    textarea {
        height: 100px;
    }
}



@media all and (max-width: 820px) {
    .mainPageContainer, .contentPageContainer, .mainPageWorksContainer, .worksPage  {
        width: 720px;
    }

    .worksPage {
        margin-top: 50px;
    }

    .menu {
        width: 200px;
    }

    .worksImageContainer {
        gap: 40px;
        width: 520px;
    }

    .worksImage {
        width: 240px;
        height: 180px;
    }

    .worksImageItem {
        width: 240px;
        height: 180px;
    }


    .greeting {
        font-size: 40px;
    }

    .logo {
        margin-top: 50px;
    }


    .aboutContainer, .portfolioContainer, .skillsContainer, .joinMeContainer {
        width: 510px;
        min-height: auto;
    }

    .aboutContainer, .joinMeContainer {
        gap: 50px;
    }

    .portfolioContainer {
        gap: 80px;
    }

    .ABOUT, .SKILLS {
        margin-top: 0px;
    }

    .WORKS, .JOINME {
        margin-top: 0px;
    }
    
    h2 {
        font-size: 18px;
        line-height: 26px;
    }

    .ABOUT img, .SKILLS img, .WORKS img, .JOINME img {
        width: 520px;
    }


    .aboutDescription {
        display: flex;
        gap: 30px;
        font-size: 18px;
        line-height: 35px;
    }

    .worksContainer {
        gap: 80px;
    }

    .imageWorks {
        width: 250px;
        height: 180px;
    }

    .imageWorksItem {
        width: 250px;
        height: 180px;
    }

    .imageWorks.active {
        transform: scale(1.4);
    }

    .tooltipItem {
        gap: 10px;
        padding: .5rem;
    }

    .skillsDescription {
        font-size: 18px;
        line-height: 35px;
    }

    .skillsShow {
        gap: 5px;
        width: 150px;
        height: 40px;
        padding: 10px;
    }

    .skillsShow p {
        font-size: 15px;
    }

    .line {
        width: 100px;
    }

    .skillsShowStraight {
        top: 25%;
        right: -100%;
    }

    .skillsShowLeft {
        top: -40%;
    }

    .arrowStraight {
        top: 50%;
        left: -54%;
    }

    .arrowLeft {
        bottom: -55%;
        right: -46%;
    }

    .arrowRight {
        bottom: -55%;
        left: -46%;
    }

    .HTML {
        top: 20%;
    }

    .html {
        width: 190px;
    }
    
    .FIGMA {
        right: 55%;
        top: -5%;
    }

    .figma {
        width: 170px;
    }
    
    .CSS {
        left: 5%;
        bottom: 10%;
    }

    .css {
        width: 170px;
    }
    
    .BOOTSTRAP {
        bottom: -5%;
        left: 38%;
    }

    .bootstrap {
        width: 160px;
    }
    
    .JAVASCRIPT {
        right: 10%;
        top: -5%;
    }

    .javascript {
        width: 230px;
    }
    
    .REDUX {
        top: 38%;
    }

    .redux {
        width: 170px;
    }
    
    .NODE {
        right: 1%;
        bottom: 40%;
    }

    .node {
        width: 130px;
    }
    
    .REACT {
        right: 2%;
        bottom: 10%
    }

    .react {
        width: 180px;
    }
}



@media all and (max-width: 540px) {
    .mainPageContainer, .contentPageContainer, .mainPageWorksContainer, .worksPage  {
        width: 400px;
    }


    .worksImageContainer {
        gap: 20px;
        width: 400px;
    }

    .worksImage {
        width: 215px;
        height: 145px;
    }

    .worksImageItem {
        width: 215px;
        height: 145px;
    }


    .greeting {
        line-height: 0px;
        font-size: 30px;
        gap: 30px;
    }

    .joinMeBtn {
        width: 130px;
        height: 50px;
    }

    .joinMeBtn a {
        font-size: 20px;
    }

    .joinMeBtn:hover::after {
        transform: translateX(124px);
        font-size: 20px;
    }

    .joinMeBtn:hover a {
        font-size: 20px;
    }

    .aboutContainer, .portfolioContainer, .skillsContainer, .joinMeContainer {
        width: 400px;
    }

    .aboutContainer, .joinMeContainer, .skillsContainer, .applicationContainer {
        gap: 30px;
    }

    .menu {
        width: 150px;
        background: #060b1df7;
    }

    .logo {
        width: 70px;
        height: 30px;
        margin-top: 20px;
    }

    .linkMenu {
        font-size: 13px;
    }
    
    .linkMenuItem {

        padding-top: 18px;
        padding-bottom: 18px;
    }

    .buttonLanguage {
        border-radius: 5px;
        font-size: 13px;
        padding: 5px;
    }

    .soundSocialLinkContainer {
        gap: 15px;
        margin-bottom: 20px;
    }

    .play, .iconsMenu, .pause {
        width: 20px;
    }

    .soundBtn {
        width: 55px;
        height: 20px;
    }

    .ABOUT img, .SKILLS img, .WORKS img, .JOINME img {
        width: 400px;
    }

    li {
        height: 60px;
        font-size: 18px;
    }

    .story {
        gap: 30px;
    }

    .worksContainer {
        gap: 50px;
    }

    .imageWorks {
        width: 200px;
        height: 130px;
        border-radius: 10px;
    }

    .imageWorksItem {
        width: 200px;
        height: 130px;
    }

    .tooltip {
        border-radius: 10px;
    }

    .title {
        font-size: 18px;
    }

    .contents {
        font-size: 10px;
    }

    .seeMoreBtn {
        height: 20px;
    }

    .seeMore a {
        font-size: 10px;
    }

    .buttons {
        width: 140px;
    }

    .btnPrev img, .btnNext img{
        width: 60px;
    }
    .skillsDescription {
        font-size: 18px;
        line-height: 35px;
    }

    .skillsImageContainer {
        height: 380px;
    }

    .skillsShow {
        gap: 5px;
        width: 100px;
        height: 30px;
        padding: 10px;
    }

    .skillsShow p {
        font-size: 13px;
    }

    .percentContainer span {
        font-size: 10px;
    }

    .line {
        width: 70px;
    }

    .skillsShowStraight {
        top: 20%;
        right: -100%;
    }

    .skillsShowLeft {
        top: -30%;
    }

    .arrowStraight {
        left: -43%;
    }

    .arrowLine {
        width: 50px;
    }

    .arrowLeft {
        bottom: -39%;
        right: -37%;
    }

    .arrowRight {
        bottom: -40%;
        left: -37%;
    }

    .HTML {
        top: 20%;
    }

    .html {
        width: 130px;
    }
    
    .FIGMA {
        right: 55%;
        top: -5%;
    }

    .figma {
        width: 110px;
    }
    
    .CSS {
        left: 5%;
        bottom: 20%;
    }

    .css {
        width: 120px;
    }
    
    .BOOTSTRAP {
        bottom: 0%;
        left: 38%;
    }

    .bootstrap {
        width: 100px;
    }
    
    .JAVASCRIPT {
        right: 5%;
        top: -5%;
    }

    .javascript {
        width: 160px;
    }
    
    .REDUX {
        top: 27%;
    }

    .redux {
        width: 130px;
    }
    
    .NODE {
        right: 1%;
        bottom: 35%;
    }

    .node {
        width: 100px;
    }
    
    .REACT {
        right: 5%;
        bottom: 10%
    }

    .react {
        width: 140px;
    }

    .appeal p {
        font-size: 18px;
        line-height: 25px;
    }

    .formContainer {
        width: 350px;
        height: 300px;
    }
    .form {
        width: 300px;
        gap: 10px;
        padding: 25px;
    }

    .inputContainer {
        gap:5px;
    }

    label {
        font-size: 15px;
    }

    input, textarea {
        width: 280px;
        height: 20px;
    }
    textarea {
        height: 50px;
    }

    .sendBtn {
        width: 200px;
        height: 50px;
    }
    .send {
        font-size: 15px;
    }
}

@media all and (max-width: 380px) {
    .mainPageContainer, .contentPageContainer, .mainPageWorksContainer, .worksPage  {
        width: 300px;
    }


    .worksImageContainer {
        gap: 20px;
        width: 300px;
    }

    .worksImage {
        width: 300px;
        height: 230px;
    }

    .worksImageItem {
        width: 300px;
        height: 230px;
    }

    .greeting {
        line-height: 0px;
        font-size: 20px;
        gap: 30px;
    }

    .joinMeBtn {
        width: 120px;
        height: 50px;
    }

    .joinMeBtn a {
        font-size: 13px;
    }

    .joinMeBtn:hover::after {
        transform: translateX(124px);
        font-size: 13px;
    }

    .joinMeBtn:hover a {
        font-size: 13px;
    }

    .aboutContainer, .skillsContainer, .joinMeContainer {
        width: 300px;
        gap: 30px;
    }

    .portfolioContainer {
        width: 300px;
        gap: 50px;
    }


    .menuToggleContainer{
        bottom: 20px;
    }

    .logo {
        width: 70px;
        height: 30px;
        margin-top: 20px;
    }


    .soundSocialLinkContainer {
        gap: 15px;
        margin-bottom: 20px;
    }


    .play, .iconsMenu, .pause {
        width: 20px;
    }

    .soundBtn {
        width: 55px;
        height: 20px;
    }

    .ABOUT img, .SKILLS img, .WORKS img, .JOINME img {
        width: 300px;
    }

    li {
        height: 60px;
        font-size: 15px;
    }

    .worksContainer {
        gap: 30px;
    }

    .imageWorks {
        width: 200px;
        height: 130px;
        border-radius: 10px;
    }

    .imageWorksItem {
        width: 200px;
        height: 130px;
    }

    .imageWorks.active {
        transform: scale(1.2);
    }

    .title {
        font-size: 18px;
    }

    .contents {
        font-size: 10px;
    }

    .seeMoreBtn {
        height: 20px;
    }

    .seeMore a {
        font-size: 10px;
    }

    .buttons {
        width: 140px;
    }

    .btnPrev img, .btnNext img{
        width: 60px;
    }
    .skillsDescription, .aboutDescription{
        font-size: 15px;
        line-height: 25px;
    }

    .skillsImageContainer {
        height: 380px;
    }

    .skillsShow {
        gap: 5px;
        width: 75px;
        height: 20px;
        padding: 5px;
    }

    .skillsShow p {
        font-size: 10px;
    }

    .percentContainer {
        gap: 5px;
    }

    .percentContainer span {
        font-size: 10px;
    }

    .line {
        width: 45px;
    }

    .skillsShowRight {
        top: -30%;
        left: 80%;
        border-radius: 5px 5px 5px 0px;
    }

    .skillsShowStraight {
        top: 25%;
        border-radius: 10px;
    }

    .skillsShowLeft {
        top: -20%;
        border-radius: 5px 5px 0px 5px;
    }

    .arrowStraight {
        left: -61%;
    }

    .arrowLine {
        width: 50px;
    }

    .arrowLeft {
        bottom: -63%;
        right: -52%;
    }

    .arrowRight {
        bottom: -64%;
        left: -52%;
    }

    .HTML {
        left: 3%;
        top: 20%;
    }

    .html {
        width: 100px;
    }
    
    .FIGMA {
        right: 50%;
        top: -5%;
    }

    .figma {
        width: 110px;
    }
    
    .CSS {
        left: 5%;
        bottom: 25%;
    }

    .css {
        width: 110px;
    }
    
    .BOOTSTRAP {
        bottom: 0%;
        left: 40%;
    }

    .bootstrap {
        width: 100px;
    }
    
    .JAVASCRIPT {
        right: -8%;
        top: -5%;
    }

    .javascript {
        width: 140px;
    }
    
    .REDUX {
        top: 28%;
    }

    .redux {
        width: 120px;
    }
    
    .NODE {
        right: 1%;
        bottom: 45%;
    }

    .node {
        width: 70px;
    }
    
    .REACT {
        right: 3%;
        bottom: 17%
    }

    .react {
        width: 120px;
    }

    .joinMeContainer {
        margin-bottom: 50px;
    }



    .formContainer {
        width: 300px;
        height: 300px;
    }
    .form {
        width: 250px;
        gap: 10px;
    }

    .inputContainer {
        gap: 5px;
    }

    label {
        font-size: 15px;
    }

    input, textarea {
        width: 230px;
        font-size: 12px;
    }

    .sendBtn {
        width: 100px;
        height: 30px;
    }
    .send {
        font-size: 15px;
    }

}